# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# build tmp
dev/100_core/bin/
dev/110_gfml/bin/
dev/140_dbs/bin/
dev/150_gfui/bin/
dev/gplx.gflucene/bin/
dev/400_xowa/bin/
/xowa_linux_64.jar
/xowa_macosx_64.jar
/xowa_windows_64.jar

# runtime tmp
/file/
/user/
/wiki/
/wiki
dev/400_xowa/user/
dev/400_xowa/file/
dev/400_xowa/wiki/
/bin/any/xowa/wiki/home/home.xowa

# eclipse project
.classpath
.project
.settings/

# intellij project
.idea
*.iml

# Package Files
*.war
*.ear
*.zip
*.rar

# DB access
DBConfig.java
SolrConfig.java

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
